<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flask SQL Test</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/datatables.net-jqui/css/dataTables.jqueryui.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/datatables.net-select-jqui/css/select.jqueryui.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bower_components/datatables.net/js/jquery.dataTables.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bower_components/datatables.net-jqui/js/dataTables.jqueryui.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bower_components/datatables.net-select/js/dataTables.select.min.js')}}"></script>
</head>
<body>
  <h1>Flask SQL Reflect Demo</h1>
  {% block body %}
  {% endblock %}
</body>
</html>
